.task {
	// Estilos para a tarefa aqui...
	position: relative;

	.editButton {
		// Estilos do botão de edição aqui...
		background-color: #007bff;
		color: white;
		border: none;
		padding: 5px 10px;
		border-radius: 5px;
		cursor: pointer;
		margin-right: 5px;
	}

	.deleteButton {
		// Estilos do botão de exclusão aqui...
		background-color: #dc3545;
		color: white;
		border: none;
		padding: 5px 10px;
		border-radius: 5px;
		cursor: pointer;
		margin-right: 5px;
	}

	.completeButton {
		// Estilos do botão de conclusão aqui...
		background-color: #28a745;
		color: white;
		border: none;
		padding: 5px 10px;
		border-radius: 5px;
		cursor: pointer;
		margin-right: 5px;
	}

	.modal {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.modal-content {
		background-color: white;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		width: 400px;
		position: relative;
	}

	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		font-size: 20px;
	}

	h2 {
		margin-bottom: 10px;
	}

	input,
	select {
		width: 100%;
		margin-bottom: 10px;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	button {
		background-color: #007bff;
		color: white;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
	}

	button:hover {
		background-color: #0056b3;
	}

	.textCompleted {
		text-decoration: line-through;
		color: #999999;
	}
}
