.task-list {
	width: 100%;
	max-width: 52rem;
	margin: 0 auto;
	margin-top: 1rem;
	padding: 0 1rem;
}

.header-list {
	display: flex;
	gap: 22px;
	justify-content: flex-start;
	align-items: center;
	font-size: 14px;
	margin: 20px 0;
}

.header-list div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #f1f3fa;
	padding: 12px 18px;
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(154, 161, 171, 0.15);
}

.header-list p {
	color: #727cf5;
	font-size: 0.875rem;
	font-weight: 600;

	@media screen and (max-width: 768px) {
		font-size: 12px;
	}
}

.header-list p.text-success {
	color: #727cf5;

	@media screen and (max-width: 768px) {
		font-size: 12px;
	}
}

.header-list span {
	background: #727cf5;
	color: #fff;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 800;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	background: #f1f3fa;
	padding: 22px 18px;
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(154, 161, 171, 0.15);
}

.empty {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	color: var(--gray-300);
	text-align: center;
	line-height: 1.5rem;
}

.empty svg {
	opacity: 0.3;
}

.empty p {
	font-weight: 700;
}
